{% extends 'index.html' %}
{% block title %}
    Password Change
{% endblock %}
{% block body %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <h5>{{ message }}</h5>
        {% endfor %}
    {% endif %}
{% endwith %}
<form action="/change" method="post">
    <div class="register">
        <section>
        <label class="infolabel"> Username</label>
            <input type="text" class="infotext" placeholder="Username" id="name" name="name" autocomplete="on" autofocus type="text">
        </section>
        
        <section>
            <label class="infolabel">Old Password</label>
            <input  class="infotext" placeholder="password" id="password" name="oldpassword" type="password">
            <div>
            <input type="checkbox" id="fcheckbox"><small> Show Password</small>
        </div>
        </section>
        <section>
            <label for="password" class="infolabel"> New Password</label>
                <input  class="infotext" placeholder="password" name="newpassword" id="confirm" type="password">
                <div>
                    
                <input type="checkbox" id="scheckbox"><small>Show Password</small>
            </div>
           </section>
           <section>
            <label for="password" class="infolabel"> Confirm new Password</label>
                <input  class="infotext" placeholder="password" name="newpasswordc" id="confirmnewpassword" type="password">
            <div>
                <small id="small"></small>
            </div>
            
            </section>
        <section>
            <button id="register">Change Password</button>
        </section>
    </div>
  </form>
{% endblock %}